@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f7f3;
}
.container {
  width: 500px;
  height: 600px;
  display: flex;
}

form {
  width: 100%; /* largura*/
  height: 600px; /* altura*/
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 5rem;
  border: 2px solid #2667ff;
  border-radius: 12px;

  /* 
   max-width: 470px;
  position: absolute;
  
  flex-direction: column;
  */
}
.form-header {
  background-color: #2667ff;
  padding: 0px;
  border-radius: 9px;
}
.form-header h2 {
  font-family: 'Poppins';
  font-size: 25px;
  color: #ffffff;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.1rem;
}
.input-box input {
  margin: 0.7rem 0;
  padding: 0.2rem 2.3rem;
  border-color: #227c9d;
  border-radius: 10px;
}
.input-box label {
  font-size: 1.25rem;
  font-weight: 500;
  color: black;
}

.continue-button btn1 {
  color: #ffffff;
  font-weight: 500;
  border: 2px solid #ffd100;
  padding: 10px 30px;
  border-radius: 12px;
  margin: 10px;
  background: #fee440;
  font-size: 32px;
}
.continue-button btn2 {
  color: #ffffff;
  font-weight: 500;
  border: 2px solid #6a994e;
  padding: 10px 30px;
  border-radius: 12px;
  margin: 10px;
  background: #90a955;
  font-size: 32px;
}

/*90a955*/

/*
text-decoration: none;






style {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*/
